<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--settings：控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--设置别名-->
    <typeAliases>
        <!--name:实体类所在的包名
            表示com.jingji.entity包中的列名就是别名
            你可以使用Student表示com.jingji.entity.Student
        -->
        <package name="com.jingji.entity"/>
    </typeAliases>

    <!-- 如果有类型处理器，确保编码 -->
    <typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.StringTypeHandler"
                     javaType="java.lang.String" jdbcType="VARCHAR"/>
    </typeHandlers>

    <!-- PageHelper 分页插件配置 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 分页参数合理化：pageNum<=0 时查第一页，pageNum>总页数时查最后一页 -->
            <property name="reasonable" value="true"/>
            <!-- 支持通过 Mapper 接口参数来传递分页参数 -->
            <property name="supportMethodsArguments" value="true"/>
            <!-- 分页参数名：pageNum=页码, pageSize=每页条数 -->
            <property name="params" value="count=countSql"/>
        </plugin>
    </plugins>

    <!-- sql mapper(sql映射文件)的位置-->
    <mappers>
        <!--
          name：是包名， 这个包中的所有mapper.xml一次都能加载
        -->
        <package name="com.jingji.dao"/>
    </mappers>

</configuration>
