<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 加载外部数据库配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <!--声明数据源DataSource, 作用是连接数据库的-->
    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxActive" value="${jdbc.maxActive}" />
    </bean>

    <!--声明的是mybatis中提供的SqlSessionFactoryBean类，这个类内部创建SqlSessionFactory的
        SqlSessionFactory  sqlSessionFactory = new ..
    -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--set注入，把数据库连接池付给了dataSource属性-->
        <property name="dataSource" ref="myDataSource" />
        <!--mybatis主配置文件的位置
           configLocation属性是Resource类型，读取配置文件
           它的赋值，使用value，指定文件的路径，使用classpath:表示文件的位置
        -->
        <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>

    <!--创建dao对象，使用SqlSession的getMapper（StudentDao.class）
        MapperScannerConfigurer:在内部调用getMapper()生成每个dao接口的代理对象。

    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定SqlSessionFactory对象的id-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <!--指定包名， 包名是dao接口所在的包名。
            MapperScannerConfigurer会扫描这个包中的所有接口，把每个接口都执行
            一次getMapper()方法，得到每个接口的dao对象。
            创建好的dao对象放入到spring的容器中的。 dao对象的默认名称是 接口名首字母小写
        -->
        <property name="basePackage" value="com.jingji.dao"/>
    </bean>

    <!--声明service的注解扫描-->
    <context:component-scan base-package="com.jingji.service" />



    <!--扫描组件包-->
    <context:component-scan base-package="com.jingji.controller"/>

    <!--使用注解驱动装配请求地址处理类对象，客户端发送不同的请求地址交给不同的类不同的方法进行处理，只要在类或者方法上添加相应的注解即可-->
    <mvc:annotation-driven/>

    <!--登录拦截器配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--拦截所有 /user/ 下的请求，排除登录和注册-->
            <mvc:mapping path="/user/**"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/register"/>
            <mvc:exclude-mapping path="/user/registerSuccess"/>
            <mvc:exclude-mapping path="/user/captcha"/>
            <bean class="com.jingji.controller.LoginInterceptor">
                <property name="studentService" ref="studentService"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置文件上传解析器，用于头像上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2097152"/> <!-- 最大 2MB -->
    </bean>

    <!--对静态资源文件不做请求拦截处理，比如：css,js,images等-->
    <mvc:default-servlet-handler/>


    <!--配置资源视图解释器，作用：解释视图，根据服务器返回的内容选择不同的视图解释器最终渲染到视图界面显示给客户端-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置资源前缀路径，/指webapp根路径，从webapp根路径下查找视图文件-->
        <property name="prefix" value="/"/>
        <!--配置资源后缀名称，jsp文件-->
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>